{{% extends "admin/base_site.html" %}
{% block content %}

<h1> ALUNOS AQUI </h1>

       

                <div class="title_task"> 
                    <div> 
                        {% for result in caract_grupo %}
                            <div class="title_task"> 
                                <div>
                                    {% for result in result %}           
                                      {{result}} 
                                    {% endfor %}       
                                </div>
                            </div>
                        {% endfor %}

                        <!---
                            <p>{{caract_grupo}} - {{quantidade_integrantes}} </p>

                            
                                <p>{{soluca_grupo}}
                                
                        -->
                    </div>
                </div>

{% endblock %}